//
// Nunito fonts
//

@font-face {
  font-family: 'Nunito';
  font-weight: 300;
  font-style: normal;
  src:  local('Nunito Light'), local('Nunito-Light'),
    url('assets/fonts/Nunito-Light.woff2') format('woff2'),
    url('assets/fonts/Nunito-Light.woff') format('woff');
}

@font-face {
  font-family: 'Nunito';
  font-weight: 400;
  font-style: normal;
  src:  local('Nunito Regular'), local('Nunito-Regular'),
    url('assets/fonts/Nunito-Regular.woff2') format('woff2'),
    url('assets/fonts/Nunito-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Nunito';
  font-weight: 600;
  font-style: normal;
  src:  local('Nunito SemiBold'), local('Nunito-SemiBold'),
    url('assets/fonts/Nunito-SemiBold.woff2') format('woff2'),
    url('assets/fonts/Nunito-SemiBold.woff') format('woff');
}

@font-face {
  font-family: 'Nunito';
  font-weight: 700;
  font-style: normal;
  src:  local('Nunito Bold'), local('Nunito-Bold'),
    url('assets/fonts/Nunito-Bold.woff2') format('woff2'),
    url('assets/fonts/Nunito-Bold.woff') format('woff');
}
